
@{
    ViewBag.Title = "returnUrl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mx-auto mb-8">
    <blockquote class="mb-4">
        <div style="font-style: italic; font-weight: bold; text-indent: 30px; text-align: center">
            <h1>VNBookStore Thank you so much!</h1>
        </div>
        <div style="font-style: italic; font-weight: bold; text-indent: 30px; text-align: center">
            <h2>“Thanks you, there is no reason to buy books on Amazon anymore.”</h2>

        </div>

    </blockquote>
    <div style="font-style: italic; font-weight: bold; text-indent: 30px; text-align: center">
        Đơn Hàng Đã Được Thanh Toán Thành Công
        —
        <a href="@Url.Action( "Index", "Home")" class="hotlink">
            Tiếp tục mua hàng
        </a>
    </div>
</section>

