
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section style="margin-left: 2cm; margin-top: 1.5cm; margin-right: 10px; flex-wrap: wrap">
    <div class="row with-bg">
        <div class="sm-12">
            <div class="cc-wrapper O-COLCTRL-RW-DEV" role="region" >
                <div id="content_main_columnControl_1" style="margin-right: 5px">

                    <div class="cc cc-columns-66-33 cc-dividers ">

                        <div id="content_main_columnControlColumn_1" class="cc-column">

                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV" role="region">
                                <div id="content_main_title_1">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Thắc mắc về sản phẩm/ dịch vụ
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_1" >
                                    <p class="A-PAR16R-RW-ALL"  >
                                        Nếu Quý khách có bất kỳ thắc mắc nào liên quan đến các sản phẩm, dịch vụ của chúng tôi, vui lòng tham khảo mục <a href="@Url.Action("TongQuan","Home")">
                                            <span aria-hidden="true">Câu Hỏi Thường Gặp</span><span class="visuallyhidden">
                                                để tìm hiểu thêm về các câu hỏi thường gặp liên quan 
                                                đến sản phẩm và dịch vụ của chúng tôi
                                            </span>
                                        </a> để tìm nhanh câu trả lời. Ngoài ra Quý khách cũng có thể lựa chọn cách thức liên lạc phù hợp để chúng tôi có thể hỗ trợ Quý khách tốt nhất.<br>
                                    </p>
                                </div>
                            </div>
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV" role="region">
                                <div id="content_main_title_2">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Khen ngợi nhân viên chúng tôi
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_2">
                                    <p class="A-PAR16R-RW-ALL">Tại VNBookStore, chúng tôi cam kết mang đến cho Quý khách trải nghiệm đẳng cấp thế giới với các sản phẩm và dịch vụ tối ưu.
                                    Nếu Quý khách cảm thấy hài lòng khi làm việc với chúng tôi hoặc đơn giản đã có những trải nghiệm tuyệt vời, chúng tôi rất mong được lắng nghe những khen ngợi của Quý khách.
                                  Đây là động lực để chúng tôi có thể phục vụ Quý khách ngày càng tốt hơn </p>
                                </div>
                            </div>
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV" role="region">
                                <div id="content_main_title_3">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Đóng góp ý kiến
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_3">
                                    <p class="A-PAR16R-RW-ALL" style="margin-right:2px">Ý kiến đóng góp của Quý khách rất quý giá, giúp chúng tôi phục vụ Quý khách và 
                                    tất cả khách hàng ngày càng tốt hơn.Những ý kiến này cũng giúp chúng tôi duy trì tiêu chuẩn cao với các sản phẩm và dịch vụ và đáp ứng nhu cầu khách hàng tối ưu nhất.Chúng tôi rất muốn được lắng nghe những ý kiến đóng góp của Quý khách</p>
                                    
                                </div>
                            </div>
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV" role="region">
                                <div id="content_main_title_4">



                                    <h2 class="A-BBST28R-RW-ALL">
                                        Gửi khiếu nại
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_4" >
                                    <p class="A-PAR16R-RW-ALL">Nếu chúng tôi chưa đáp ứng được sự hài lòng của Quý khách, chúng tôi rất muốn lắng nghe ý kiến của Quý khách để ngày càng hoàn thiện. Sau khi nhận được khiếu nại của Quý khách, chúng tôi sẽ phúc đáp trong thời gian sớm nhất.Các khiếu nại sẽ được giải quyết trong vòng bảy ngày làm việc, trừ khi pháp luật hiện hành có quy định khác.Trường hợp phức tạp có thể cần thêm thời gian để xem xét giải quyết, chúng tôi sẽ thông báo cho Quý khách.</p>
                                   
                                   
                                </div>
                            </div>
                        </div>
                        <span class="cc-separator"></span>
                        <div id="content_main_columnControlColumn_2" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h2 class="heading A-TYP22L-RW-ALL " id="content_main_heading_1">
                                    Liên hệ với chúng tôi
                                </h2>
                               
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_5" >
                                    <p class="A-PAR14R-RW-ALL">Quý khách có thể đến <a href="https://goo.gl/maps/QSEuYGaNCR2wTAUA9"><span aria-hidden="true">Chi nhánh/ Phòng Giao dịch</span><span class="visuallyhidden">Chi nhánh/ Phòng Giao dịch để tìm chi nhánh hoặc phòng giao dịch gần nhất</span></a> thuận tiện nhất và trao đổi trực tiếp với nhân viên của chúng tôi. Ngoài ra Quý khách cũng có thể điền "Phiếu Góp Ý của Khách hàng" đặt tại các Chi nhánh/ Phòng Giao dịch<br> </p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h2 class="heading A-TYP14B-RW-ALL remove-bottom-space" >
                                    Trực tuyến
                                </h2>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_6" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="Asia/Ho_Chi_Minh">
                                    <p class="A-PAR14R-RW-ALL">Chúng tôi sẽ phản hồi Quý khách trong vòng 2 ngày làm việc đối với những yêu cầu gửi trực tuyến. Nếu Quý khách cần hỗ trợ khẩn cấp, vui lòng liên hệ với chúng tôi thông qua những cách thức khác.</p>
                                    <ul class="A-LSTU-RW-ALL">
                                        <li><span class="A-PAR14R-RW-ALL"><strong>Quý khách có thể gửi thư điện tử đến chúng tôi:</strong><br> Khách hàng cá nhân: <a href="mailto:ngluan161121@gmail.com"><span aria-hidden="true"></span><span class="visuallyhidden">ngluan161121@gmail.com để gửi email cho khách hàng cá nhân</span></a><br> Khách hàng Premier: <a href="mailto:ngluan161121@gmail.com"><span aria-hidden="true">ngluan161121@gmail.com</span><span class="visuallyhidden"> để gửi email cho khách hàng Premier</span></a></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h2 class="heading A-TYP14B-RW-ALL remove-bottom-space" id="content_main_heading_4">
                                    Gọi điện cho chúng tôi
                                </h2>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_7" >
                                    <p class="A-PAR14R-RW-ALL">Quý khách có thể gọi đến Trung tâm Dịch vụ Khách hàng của chúng tôi theo các số điện thoại dưới đây:</p>
                                    <ul class="A-LSTU-RW-ALL">
                                        <li><span class="A-PAR14R-RW-ALL"><strong>Khách hàng Cá Nhân:</strong> <br> <a href="tel:0377153336" class="no-link" role="presentation">03.77.15.33.36</a>&nbsp;(miền Nam) hoặc<br>
                                            <a href="tel:0377153336" class="no-link" role="presentation">03.77.15.33.36</a>&nbsp;(miền Bắc)<br> </span></li>
</ul>   
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h2 class="heading A-TYP14B-RW-ALL remove-bottom-space" id="content_main_heading_5">
                                    Gửi thư cho chúng tôi
                                </h2>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_8" >
                                
                                    <p class="A-PAR14R-RW-ALL">Bộ phận Quan hệ Khách hàng<br> VNBookStore (TP. HCM)<br> Tòa nhà E1 HUTECH<br>  Quận 9, Thành phố Thủ Đức, Hồ Chí Minh<br> Việt Nam<br> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cc-wrapper O-COLCTRL-RW-DEV" role="region">


                <div id="content_main_columnControl_2">

                    <div class="cc cc-columns-100  ">

                        <div id="content_main_columnControlColumn_3" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h2 class="heading A-TYP14B-RW-ALL remove-bottom-space" id="content_main_heading_6">
                                    Thông tin thêm
                                </h2>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region" style="margin-right:0.5cm">
                                <div id="content_main_richtext_9" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="Asia/Ho_Chi_Minh">
                                    <p class="A-PAR16R-RW-ALL"><span class="A-PAR14R-RW-ALL">Thanks for watching, love you so much!!!</span></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row with-bg" >
        <div class="sm-12">
            <div class="O-SMARTSPCGEN-DEV M-BACKTOTOP-RW-RBWM" role="region">
                <div id="content_rel_backtotop_1">
                    <div id="content_rel_link_1" class="link-container">
                        <a class="A-LNKAU-RW-ALL" href="#" tabindex="0">
                            <span class="link">Về đầu trang</span>&nbsp;<span class="icon icon-anchor-up" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







